[submodule "tmux/.tmux/plugins/nord-tmux"]
	path = tmux/.tmux/plugins/nord-tmux
	url = https://github.com/arcticicestudio/nord-tmux
[submodule "tmux/.tmux/plugins/tmux-sensible"]
	path = tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule "tmux/.tmux/plugins/tmux-themepack"]
	path = tmux/.tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule "extras/opencode-extras"]
	path = extras/opencode-extras
	url = https://github.com/crueber/opencode-extras
